 
 
#map_canvas{ 
    height: calc(100% - 100px);
}

.st_table{
    width: 100%;
    height: 100px;
    background-color: #525252;
    color: white;
    border-spacing: 0px;
}

.st_table .title{
	background-color: #2f2f2f;
}

.st_table td{
	padding: 0px 5px;
}
.st_table .content td{
	padding: 2px 5px;
}
 
 .md .links-list a.selected{
	background-color:#f1f1f1;
}

.hide{
	display: none;
}
